*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    min-height: 40vh;
}

 main{
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

footer{
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    background-color: bisque;
    align-items: center;
}

h5{
    object-fit: contain;
}

.logoCompany{
    height: 35%;
    width:10%;   
}

.container-fluid{
    background-color: rgba(128, 128, 128, 0.438);
}

#navbarNav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#buttonNav1,
#buttonNav2,
#buttonNav3,
#buttonNav4,
#buttonNav5{
    background-color: white;
    border: 1px solid gray;
    align-content: center;
    width: 9rem !important;
    height: 2%;
}

#navbarVarId{
    width:51vw;
}

#navbarNavAltMarkup{
    display: flex;
    justify-content: center;
}

#navContainer1{
    min-height: 7vh;
    width: 100vw;
}

.butonPrice{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 align-content: center;
}

#Price{
    margin-top: 5px;
}

.tituloNav{
    height: 7vh;
}
#tituloNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:3%;
}

#carouselExample2{
    height: 35vh;
    width: 100%;
    background-color: rgb(138, 138, 68);
}

.navbar-collapse{
    flex-grow: 0 !important;
    gap: 1rem;

}

.navbar-nav{
    gap: 1rem;
}

.carrouselImg1{
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Cine7.jpg);
    background-size: 30%;
    text-align: center;
    vertical-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.carrouselImg2{
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Feria\ de\ comidas7.jpg);
    background-size: 30%;
    text-align: center;
    vertical-align: center;
}

.carrouselImg3{
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/Concierto\ de\ musica1.jpg);
    background-size: 30%;
    text-align: center;
    vertical-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .card{
    height: 100%;
} */



.card-img-top{
    height: 50%;
}

#tiuloPagina{
    color: white;
    margin-top: 6%;
}

.TitlePage{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#idCine,
#bibliotecaIMG,
#conciertImg{
    height:30vh;
    width: 100%;
}

.ChecksYBusqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ChecksYBusqueda2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:60%;
    flex-wrap: wrap;
} 

a{
    font-stretch: normal;
}

.searchAndTxt{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:40%;
    flex-wrap: wrap;
}

#textSearch{
    height: 20%;
    width:40%;
}
#botonBuscarTxt{
    height: 20%;
}

#botonBuscarTxt2{
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedorCardsHome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* img{
    object-fit: contain;
} */



.divLogos{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
}

#cohort44-45{
    width: 10vw;
    height: 5vh;
    margin-top: 3rem; 
    /* padding: 1rem; */
    text-align: center;
}

.contedorfomulario{
    width:100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#formularioContacto{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    height: 100%;;
    justify-content: center;
   /* margin-left: 30rem; */
}

.buttonSubmit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
}

#txtMessage
{
    height: 25rem;
    width: 50rem;
}


#txtName, 
#txtEmail{
    width: 50rem;
}
label{
    font-size: larger;
}

#cardPastEvents{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 100vw;
}

#cardMarathon{
    width: 60%;
}

#contenedorCard{
    height: 100%;
    width: 100%;
}

tr, td{
    border: 1px solid black;
    width: 20vh;
}

th{
    border: 1px solid black;
    background-color: gray;
}

.mainStats{
    margin-bottom: 1rem;
    padding: 1rem;
}


@media only screen and (min-width: 425px) and (max-width: 767px) {

    #buttonNav1,
    #buttonNav2,
    #buttonNav3,
    #buttonNav4,
    #buttonNav5{
        background-color: white;
        border: 1px solid gray;
        align-content: center;
        width: 60%;
        height: 2%;
    } 

    #navbarVarId{
        margin-right: 3rem;
    }

    #txtName, 
    #txtEmail,
    #txtMessage{
        width: 100%;
    }

    li{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .ChecksYBusqueda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .searchAndTxt{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width:100%;
        flex-wrap: wrap;
    }
    .ChecksYBusqueda2{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width:100%;
        flex-wrap: wrap;
    } 

    #formularioContacto{
        width:90%;
    }

    #botonBuscarTxt{
        height: 1.5rem;
        display: flex;
        align-items: center;
    }

    /* div{
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */

    #cohort44-45{
        width: 20vw;
        height: 9vh;
        margin-top: 9px;
    }

    #navbarNavAltMarkup{
        margin-bottom: 1rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    li{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    /* div{
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */

    ul{
        margin-right: 2rem;
    }

    .formularioContacto{
        width: 100%;
    }

    #txtName, 
    #txtEmail,
    #txtMessage{
        width: 40rem;
    }

    #buttonNav1,
    #buttonNav2,
    #buttonNav3,
    #buttonNav4,
    #buttonNav5{
        background-color: white;
        border: 1px solid gray;
        align-content: center;
        width: 32%;
        height: 2%;
    } 

    #cohort44-45{
        width: 21vw;
        height: 4vh;
        margin: 0;
    }

    .ChecksYBusqueda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .searchAndTxt{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width:100%;
        flex-wrap: wrap;
    }
    .ChecksYBusqueda2{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width:100%;
        flex-wrap: wrap;
    } 

    #botonBuscarTxt{
        height: 1.5rem;
        display: flex;
        align-items: center;
    }
    #navbarNavAltMarkup{
        margin-bottom: 1rem;
    }

    
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* div{
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */

    #buttonNav1,
    #buttonNav2,
    #buttonNav3,
    #buttonNav4,
    #buttonNav5{
        background-color: white;
        border: 1px solid gray;
        align-content: center;
        width: 18%;
        height: 2%;
    } 

    #navbarVarId{
        width: 80vw;
    }
    
    #textSearch{
        height: 20%;
        width:15rem;
    }

    #navbarVarId{
        width:70vw;
    }

    #cohort44-45{
        width:15vw;
        margin: 0;
    }



}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {

    /* #navbarVarId{
        width: 55vw;
    } */

    #buttonNav1,
    #buttonNav2,
    #buttonNav3,
    #buttonNav4,
    #buttonNav5{
        background-color: white;
        border: 1px solid gray;
        align-content: center;
        width: 16%;
        height: 2%;
    } 


}